/* for 32 inches */
@media (min-width: 1200px) and (max-width: 2099px) {
    
    .navbar>.container {
        max-width: 1800px;
    }
    .navbar-brand img {
        width: 60%;
    } 
    
}

/* for 4k screens */
@media (min-width: 2100px) {

    .navbar>.container {
        max-width: 100%;
    }

    .navbar-brand img {
        width: 65%;
    }

    .post-col.mx-2 {
        height: 7vw;
    }
 

}
