.banner-section {
    background-image: url("../../images/banner.png");
    min-height: 40vh;
    max-height: 20rem;
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .h-1 h1 {
    font-size: 5rem;
    font-weight: bolder;
  }
  
  .banner-section > .container {
    min-height: 15vh;
    max-height: 15rem;
    height: 12rem;
  }
  
  .search-div {
    margin-top: 1vw;
  }
  .has-search .form-control {
    padding-left: 3vw;
    height: 3vw;
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 3vw;
    height: 3vw;
    line-height: 3vw;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
  
  .category-carousel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3vw;
  }
  .category-div {
    width: 12%;
    color: #fff;
    text-align: center;
  }
  .category-more-text {
    cursor: pointer;
  }
  
  .category-img {
    width: 80%;
    height: 80%;
    margin: auto;
    object-fit: contain;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .category-img img {
    width: 100%;
    height: 100%;
  }
  
  .category-more-div {
    background: linear-gradient(180deg, #ff6100 21%, #f03770 100%);
    min-height: 20vh;
    border-radius: 1vw;
    padding: 2vw;
  }
  
  .category-more-div .category-carousel .category-div {
    width: 14%;
  }
  
  /* =========================================================== */
  
  ul.specialist-links {
    list-style: none;
  }
  .specialist-link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }
  .specialist-link:hover {
    color: #fe6006;
  }
  
  .footer-section {
    background: linear-gradient(90deg, #ff6100 20%, #f03770 100%);
  }
  .store-img {
    height: 100%;
    width: 100%;
  }
  .store-img img {
    height: 100%;
    width: 100%;
  }
  
  .separator {
    display: flex;
    align-items: center;
  }
  
  .separator .line {
    height: 3px;
    flex: 1;
    background-color: #000;
  }
  
  .separator h6 {
    padding: 0 2rem;
  }
  
  .model-gradient {
    background: linear-gradient(0deg, #ff6100 21%, #f03770 100%);
  }
  /* =========================================================== */
  
  /* Styles for screens with a maximum width of 768 pixels */
  
  @media only screen and (max-width: 768px) {
    .py-5 {
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
    }
    .my-5 {
      margin-top: 1rem !important;
      margin-bottom: 1rem !important;
    }
  
    /* =========================================================== */
    .has-search .form-control-feedback {
      width: 5vw;
      line-height: 5vw;
    }
    .has-search .form-control {
      padding-left: 5vw;
      height: 5vw;
    }
  
    .category-div {
      width: 25%;
    }
    .category-img {
      width: 50%;
    }
  }
  
  /* =========================================================== */
  
  /* Styles for screens with a maximum width of 768 pixels */
  
  @media only screen and (max-width: 425px) {
    .banner-section {
      min-height: 40vh;
      max-height: 50rem;
      height: 100%;
    }
  
    .banner-section > .container {
      min-height: 30vh;
      max-height: 35rem;
      height: 100%;
    }
    .h-1 h1 {
      font-size: 2.5rem;
      font-weight: bolder;
    }
    .banner-div .h-2 h2 {
      font-size: 1.5rem;
      font-weight: 300;
    }
    .has-search .form-control {
      padding-left: 7vw;
      height: 10vw;
    }
  
    .has-search .form-control-feedback {
      width: 7vw;
      line-height: 10vw;
    }
    .form-group.has-search.w-50 {
      width: 80% !important;
    }
  }
  
  /* ===================================================================================================== */
  
  .dashboard-left {
    background-color: #ffecf1;
    padding: 0;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem 0;
  }
  .profile-container {
    margin: 1rem 0;
  }
  
  .profile-img {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .profile-img img {
    width: 100%;
    height: 100%;
  }
  .profile-name {
    font-weight: 700;
    margin: 0.3rem 0;
  }
  .profile-no {
    color: #aaa;
  }
  
  .dashboard-list-item {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 1rem;
    border-top: 1px solid #aaa;
  }
  .dashboard-list-item.active {
    border-left: 4px solid #000;
    padding-left: 1.5rem;
    color: #ef4731;
  }
  
  .dashboard-list-item:hover {
    background-color: #f9bfce;
  }
  /* ===================================================================================================== */
  