.separator {
    display: flex;
    align-items: center;
}

.separator .line {
    height: 3px;
    flex: 1;
    background-color: #000;
}

.separator h6 {
    padding: 0 2rem;
}

.model-gradient {
    background: linear-gradient(0deg, #ff6100 21%, #f03770 100%);
}
