@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ramabhadra&display=swap");
body {
    background: url("../../images/home-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
:root {
    --red: #f02837;
}

.text-red {
    color: var(--red);
}
.text-blue {
    color: #10d0fb;
}
.h-2 h2 {
    font-family: "Ramabhadra", sans-serif;
}

.h-3 h3 {
    font-size: var(--h3);
}
.b-l {
    border-bottom: 3px solid #10d0fb;
    border-radius: 130px 56px / 4px 4px;
    padding-bottom: 0.5rem;
}
/* ================== */

.banner-container {
    width: 100%;
    height: 50vw;
    margin-top: -8vw;
    position: relative;
    background: #575962;
}

.banner-img{
    height: 100%;
    width: 100%;
    overflow: hidden; 
    position: relative; /* Add position relative */
}

.banner-img img{
    height: 100%;
    width: 100%; 
    opacity: 0.02;   
    position: absolute; /* Add position absolute */
    top: 0;
    left: 0;
    transition: opacity 1.8s ease; /* Add transition for smooth opacity change */
} 

.banner-img img.active{
    opacity: 1;
}

.banner-slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100%;
}

.banner-fades-in {
    animation-name: banner-fades-in;
    animation-duration: 2s;
}

@keyframes banner-fades-in {
    from {
        transform: translate(70%);
    }
    to {
        transform: translate(0);
    }
}
 

div#banner-div {
    width: 70%;
}
#banner-div .h-1 h1   {
    font-size: var(--h1);
    font-family: "Cinzel", serif;
}

#banner-div .h-1 h1 span {
    color: #00d2ef;
    font-family: "Cinzel", serif;
}

.banner-search {
    background-color: #ffffff54;
    border-radius: 0.5vw;
}

.banner-search select {
    background-color: transparent;
    width: 100%;
    border: 1px solid #000;
    font-size: var(--h5);
    height: 2.5vw;
    border-radius: 5px;
    padding: 2px 0.5vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, var(--red) 50%),
        linear-gradient(135deg, var(--red) 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}
.search-btn {
    background: linear-gradient(90deg, #0e8ece 30%, #00d2ef 100%);
}
.search-btn:hover {
    background: linear-gradient(90deg, #085a83 30%, #02a7bd 100%);
}

.banner-slider-nav {
    position: absolute;
    right: 5vw;
    bottom: 2vw;
    display: flex;
    gap: 1vw;
}

.banner-slider-nav-btn {
    background-color: transparent;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
}
.banner-slider-nav-btn:hover {
    color: #fff;
}
/* ======================================== */

.core-col {
    width: 31%;
    height: auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.core-col:hover {
    background: linear-gradient(130deg, #0e8ece 30%, #00d2ef 100%);
    color: #fff !important;
    cursor: pointer;
}
.core-col:hover .core-text {
    color: #fff;
}
.core-col:hover .core-round {
    background-color: #ffffff52;
}
.core-img {
    width: 100%;
    height: 40%;
}
.core-img img {
    width: 100%;
    height: 100%;
}
.core-round {
    border-radius: 75% 75% 100% 100%;
    background-color: #f5dfdc;
    width: 25%;
    padding: 1vw;
}
.core-text {
    color: #899aa2;
}

/* ======================================== */

.about-row {
    height: 35vh;
}
.about-img-conatiner {
    position: relative;
    height: 90%;
    width: 100%;
}

.about-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
}

.about-img img {
    width: 100%;
    height: 100%;
}
.top-about {
    background-color: #f02837;
    height: 7vw;
    width: 7vw;
    border-radius: 1vw;
    position: absolute;
    top: -1vw;
    right: 18vw;
}
.bottom-about-img {
    position: absolute;
    bottom: -2vw;
    right: 15vw;
    height: 45%;
    width: 35%;
}

.bottom-about-img img {
    width: 100%;
    height: 100%;
}

/* ======================================== */

/* ======================================== */
.skiin-container {
    background: url("../../images/skyin.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
}

.ski-img {
    height: 75%;
    width: 75%;
}

.ski-img img {
    height: 100%;
    width: 100%;
}

/* ================================== */

.vacation-container {
    background: url("../../images/vacation-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.vacation-col {
    position: relative;
    height: 22vw;
}

.vacation-img {
    position: absolute;
    height: 100%;
    width: 100%;
    filter: contrast(30%);
}
.vacation-img img {
    height: 100%;
    width: 100%;
    border-radius: 1vw;
}

span.vacation-slot {
    position: absolute;
    right: 1vw;
    top: 1vw;
    background-color: #f02837;
    border-radius: 50%;
    padding: 0.5vw 1vw;
    color: #fff;
}

.vacation-text {
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    color: #fff;
}
.vacation-text span {
    font-size: var(--h5);
}
.vacation-text span i {
    color: #f02837;
    transform: rotate(310deg);
}

/* =================== */
.testimonial-container {
    background: url("../../images/testimonial.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.testimonial-div .p {
    color: #000608;
}
.testimonial-card {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 1vw;
    padding: 1vw;
}

.testimonial-head {
    border-bottom: 1px solid #000;
}
.testimonial-img {
    width: 100%;
    height: 80%;
}

.testimonial-img img {
    width: 100%;
    height: 100%;
}
.testimonial-body {
    display: flex;
    align-items: center;
    height: 10vw;
    color: #000608;
    font-size: var(--h4);
}

.testimonial-head .col-5 {
    font-size: var(--h5);
}
/* ============================ */

.featured-container {
    background: url("../../images/building.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vw;
}

.featured-img-container {
    position: relative;
}
.featured-img {
    position: absolute;
    left: 0;
    top: 0;
    height: 20vw;
    width: 100%;
}
.featured-img img {
    height: 100%;
    width: 100%;
}
.featured-detail {
    position: absolute;
    top: 18vw;
    left: 5%;
    height: 7vw;
    width: 90%;
    border-radius: 0.5vw;
    font-size: var(--h4);
    background-color: #fff;
}
.featured-charge {
    position: absolute;
    top: 1vw;
    right: 1vw;
    background-color: #f23b3b;
    font-size: var(--h4);
    border-radius: 0.5vw;
    color: #fff;
}

.bg-red-div {
    color: #fff;
    border-radius: 0.5vw 0.5vw 0 0;
    background: linear-gradient(140deg, #f23b3b 50%, #fff 50%);
}

.featured-detail .row .col-6 span:hover {
    cursor: pointer;
    background-color: #88898b !important;
    color: #fff;
}

/* ======================  */

.looking-container {
    background: url("../../images/dream.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.looking-div {
    background: linear-gradient(30deg, #0e8ecee0 30%, #00d3efa2 100%);
}

/* ============================ */
.post-col img {
    height: 100%;
    width: 100%;
    border-radius: 1vw;
}

/* =========================== */

.service-preload {
    position: relative;
    height: 100%;
    width: 100%;
}
.service-preload img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.service-item {
    height: 100%;
    margin: 1vw 0;
}

.service-image {
    width: 100%;
    height: 35%;
}

.service-image img {
    width: 100%;
    height: 100%;
}
.service-detail-container {
    position: relative;
    top: -1vw;
    height: 65%;
    background-color: #fff;
    border-radius: 1vw;
}

.service-rate {
    position: absolute;
    top: -1vw;
    left: 5%;
    background-color: #f02837;
    color: #fff;
    border-radius: 0.5vw;
}
.service-desc {
    font-size: var(--h5);
}
.service-spec .col-3 {
    font-size: var(--h6);
    padding: 0;
}
.service-facility {
    border-top: 1px solid;
    margin-top: 0.5vw;
    padding-top: 0.5vw;
}
.service-facility .row {
    background-color: #cad2d6;
}
.service-facility .col-3 {
    font-size: var(--h6);
    padding: 0;
    color: #575962;
    cursor: pointer;
}
.service-facility .col-3:hover {
    color: #878991;
}
@media (min-width: 992px) and (max-width: 1199px) {
    :root {
        --h1: 3vw;
        --h2: 2vw;
        --h3: 1.75vw;
        --h4: 1.25vw;
        --h5: 1vw;
        --h6: 0.75vw;
    }
    .container {
        max-width: 1144px;
    }
    .about-row {
        height: auto;
    } 
}
