.banner-section {
    background-image: url("../../images/banner.png");
    min-height: 40vh;
    max-height: 20rem;
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.h-1 h1 {
    font-size: 5rem;
    font-weight: bolder;
}

.banner-section > .container {
    min-height: 15vh;
    max-height: 15rem;
    height: 12rem;
}

.search-div {
    margin-top: 1vw;
} 

/* ===================================================================================================== */
.saloon-div {
    border: 2px solid #eee;
    border-radius: 1rem;
    margin: 0.2rem 1rem;
    padding: 0.5rem;
    text-decoration: none;
}

.btn-gradient {
    background: linear-gradient(90deg, #ff6100 10%, #f03770 70%);
}

/* =========================================== */

/* ========================= */
.provide-img {
    width: 100%;
}
.provide-img img {
    width: 100%;
    height: 100%;
}

.acritical-links {
    line-height: 3rem;
}

.acritical-links a {
    text-decoration: none;
}

.treatments-link {
    border: 1px solid #eee;
    border-radius: 1rem;
    margin: 0.2rem 1rem;
    padding: 0.5rem;
    text-decoration: none;
    color: #2a2d32;
    display: inline-grid;
}

/* ================================================================================== */

.near-salon-slide {
    background: linear-gradient(180deg, #ff6100 10%, #f03770 70%);
}

.near-salon-div {
    position: relative;
}

.near-salon-button-prev.swiper-button-prev {
    width: 4rem;
    height: 4rem;
    left: -5%;
    z-index: 128;
    background-image: url(../images/previous.png);
    background-size: cover;
}

.near-salon-button-next.swiper-button-next {
    width: 4rem;
    height: 4rem;
    right: -5%;
    z-index: 128;
    background-image: url(../images/next.png);
    background-size: cover;
}

.near-salon-button-prev:after,
.near-salon-button-next:after {
    content: "";
}

.near-salon-slide {
    padding: 0.5rem;
    color: #eee;
    border-radius: 0.5rem;
    text-decoration: none;
}

.near-salon-img {
    width: 100%;
    height: 50%;
}
.near-salon-img img {
    width: 100%;
    height: 100%;
}

.amenites {
    display: flex;
}

.amenites-div {
    padding: 5px;
}

.listing-img {
    width: 100%;
    height: 100%;
}

.listing-img img {
    width: 100%;
    height: 100%;
}

.listing-row {
    border-top: 1px solid #eee;
    padding-top: 0.5rem;
}
