@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ramabhadra&display=swap");
body {
    background: url("../../images/home-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
:root {
    --red: #f02837;
}

.text-red {
    color: var(--red);
}
.text-blue {
    color: #10d0fb;
}
.h-2 h2 {
    font-family: "Ramabhadra", sans-serif;
}

.h-3 h3 {
    font-size: var(--h3);
}
.b-l {
    border-bottom: 3px solid #10d0fb;
    border-radius: 130px 56px / 4px 4px;
    padding-bottom: 0.5rem;
}
.p p {
    font-size: var(--h4);
}


.search-btn {
    background: linear-gradient(90deg, #0e8ece 30%, #00d2ef 100%);
}
.search-btn:hover {
    background: linear-gradient(90deg, #085a83 30%, #02a7bd 100%);
}
/* ================== */

.banner-container {
    width: 100%;
    height: 30vw;
    margin-top: -8vw;
    position: relative;
    background: #575962;
}

.banner-img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative; /* Add position relative */
}

.banner-img img {
    height: 100%;
    width: 100%;
    opacity: 0.02;
    position: absolute; /* Add position absolute */
    top: 0;
    left: 0;
    transition: opacity 1.8s ease; /* Add transition for smooth opacity change */
}
.banner-img img.active {
    opacity: 1;
}
.banner-page-div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    height: 100%;
    justify-content: flex-end;
    padding: 0 0 5vw 5vw;
}

.page-heading h1 {
    font-size: var(--h1);
    font-family: "Cinzel", serif;
}
.page-desc p {
    font-size: var(--h4);
}

.banner-card{
    height: 100%;
}
.banner-card img{
    width: 100%;
    height: 100%;
}


/* ======================================== */

/* =========================== */

.service-preload {
    position: relative;
    height: 100%;
    width: 100%;
}
.service-preload img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.service-item {
    height: 100%;
}

.service-image {
    width: 100%;
    height: 35%;
}

.service-image img {
    width: 100%;
    height: 100%;
}
.service-detail-container {
    position: relative;
    top: -1vw;
    height: 65%;
    background-color: #fff;
    border-radius: 1vw;
}

.service-rate {
    position: absolute;
    top: -1vw;
    left: 5%;
    background-color: #f02837;
    color: #fff;
    border-radius: 0.5vw;
}
.service-desc {
    font-size: var(--h5);
}
.service-spec .col-3 {
    font-size: var(--h6);
    padding: 0;
}
.service-facility {
    border-top: 1px solid;
    margin-top: 0.5vw;
    padding-top: 0.5vw;
}
.service-facility .row {
    background-color: #cad2d6;
}
.service-facility .col-3 {
    font-size: var(--h6);
    padding: 0;
    color: #575962;
    cursor: pointer;
}
.service-facility .col-3:hover {
    color: #878991;
}




/* ==================================== */

.irs--round .irs-bar {
    background-color: #00C2C0;
 }
 
 .irs--round .irs-handle {
   background-color: #00C2C0;
   border-color: #00C2C0;
   box-shadow: 0px 0px 0px 5px rgba(0, 194, 192, 0.2);
   cursor: grab;
 }
 
 .irs--round .irs-handle.state_hover, 
 .irs--round .irs-handle:hover {
    background-color: #00C2C0;
 }
 
 .irs--round .irs-handle {
   width: 16px;
   height: 16px;
   top: 29px
 }
 
 .irs--round .irs-from, 
 .irs--round .irs-to, 
 .irs--round .irs-single {
   background-color: transparent;
   color: #666666;
 }
 
 .irs--round .irs-from:before, 
 .irs--round .irs-to:before, 
 .irs--round .irs-single:before,
 .irs--round .irs-min, 
 .irs--round .irs-max {
   display: none;
 }
 
 


/* ======================================== */
@media (min-width: 992px) and (max-width: 1199px) {
    :root {
        --h1: 3vw;
        --h2: 2vw;
        --h3: 1.75vw;
        --h4: 1.25vw;
        --h5: 1vw;
        --h6: 0.75vw;
    }
    .container {
        max-width: 999px;
    }

    .my-5 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    .py-5 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    } 
}
