@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ramabhadra&display=swap");
body {
    background: url("../../images/home-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
:root {
    --red: #f02837;
}

.text-red {
    color: var(--red);
}
.text-blue {
    color: #10d0fb;
}
.h-2 h2 {
    font-family: "Ramabhadra", sans-serif;
}

.h-3 h3 {
    font-size: var(--h3);
}
.b-l {
    border-bottom: 3px solid #10d0fb;
    border-radius: 130px 56px / 4px 4px;
    padding-bottom: 0.5rem;
}
.p p {
    font-size: var(--h4);
}
/* ================== */

.banner-container {
    width: 100%;
    height: 30vw;
    margin-top: -8vw;
    position: relative;
    background: #575962;
}

.banner-img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative; /* Add position relative */
}

.banner-img img {
    height: 100%;
    width: 100%;
    opacity: 0.02;
    position: absolute; /* Add position absolute */
    top: 0;
    left: 0;
    transition: opacity 1.8s ease; /* Add transition for smooth opacity change */
}
.banner-img img.active {
    opacity: 1;
}
.banner-page-div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    height: 100%;
    justify-content: flex-end;
    padding: 0 0 5vw 5vw;
}

.page-heading h1 {
    font-size: var(--h1);
    font-family: "Cinzel", serif;
}
.page-desc p {
    font-size: var(--h4);
}

/* ======================================== */

.about-container {
    height: 25vw;
}
.about-row {
    height: 25vw;
}
.about-img-conatiner {
    position: relative;
    height: 90%;
    width: 100%;
}

.about-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
}

.about-img img {
    width: 100%;
    height: 100%;
}
.top-about {
    background-color: #f02837;
    height: 7vw;
    width: 7vw;
    border-radius: 1vw;
    position: absolute;
    top: -1vw;
    right: 18vw;
}
.bottom-about-img {
    position: absolute;
    bottom: -2vw;
    right: 15vw;
    height: 45%;
    width: 35%;
}

.bottom-about-img img {
    width: 100%;
    height: 100%;
}

.banner-card img{ 
    width: 80%;
}

/* ======================================== */
.core-container .row{
    align-items: flex-end;
}
.company-container {
    width: 100%;
    height: 25vw;
    position: relative;
    display: flex;

}
.company-left {
    width: 20%;
    position: absolute;
    left: 15vw;
    top: 0;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.company-right {
    width: 70%;
    height: 25vw;
    background: linear-gradient(200deg, #067ea8 30%, #00d2ef 100%);
    border-radius: 1vw 0 0 1vw;
    position: absolute;
    right: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 15vw;
}
.company-right-div{
    width: 85%;
}
.company-right .col-3 {
    height: 100%;
}

.company-img {
    height: 80%;
    width: 100%;
}
.company-img img {
    height: 100%;
    width: 100%;
}

.company-right .company-icon i {
    border: 2px solid;
    border-radius: 50%;
    padding: 0.5rem;
    color: var(--red);
}

/* ======================================== */
.team-img {
    height: 20vw;
    width: 100%;
}
.team-img img {
    height: 100%;
    width: 100%;
}

/* ======================================== */
.member-img {
    height: 15vw;
    width: 100%;
}
.member-img img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}
.member-name {
    font-size: var(--h4);
    color: #10d0fb;
    margin-top: 1rem;
}

/* ======================================== */

.contact-container  {
    display: flex;
    position: relative;
    height: 25vw;
    align-items: center;
}

.contact-left{
    width: 60%;
    height: 100%;
    background: linear-gradient(300deg, #bddae9 30%, #e2f1f9 70%);
}
.contact-left-div {
    padding-left: 15vw;
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-left-div .h-2 h2{
    font-size: 3rem;

}

.contact-right{
    width: 45%;
    position: absolute;
    right: 0;
    background-color: transparent;
    padding-right: 15vw;
}
.contact-right-div{
    width: 95%;
}

.form-field {
    position: relative;
    box-sizing: border-box;
    margin: auto;
    padding: 0px;
    border: 0px;
    font-size: 1em;
}
.form-field * {
    box-sizing: border-box;
}
#firstnamefield,
#lastnamefield {
    width: 50%;
    min-width: 250px;
}

.form-field > input,
.form-field > label,
.form-field > textarea {
    padding: 0.8em;
    margin: 0.5em;
    width: 100%;
}

.form-field > input,
.form-field > textarea {
    border: 1px solid #00bafa;
    border-radius: 0.5em;
    outline: none;
}
.form-field > label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color: #ccc;
    background-color: transparent;
}
input:focus + label,
textarea:focus + label,
input:valid + label {
    color: #00bafa;
    font-size: 0.8em;
    width: auto;
    height: 1.3em;
    padding: 0px 0.5em 0px 0.5em;
    margin: 0px;
    /*outline: 1px solid red; /*for debugigng purposes only*/
    background: white;
    transition: 0.2s ease-in-out;
    top: 0em;
    left: 2em;
}

/* ======================================== */
@media (min-width: 992px) and (max-width: 1199px) {
    :root {
        --h1: 3vw;
        --h2: 2vw;
        --h3: 1.75vw;
        --h4: 1.25vw;
        --h5: 1vw;
        --h6: 0.75vw;
    }
    .container {
        max-width: 999px;
    }
    .about-container {
        height: 35vw;
    }
    .company-left {
        left: 8vw;
    width: 30%;
    }
    .company-container {
        height: 35vw;
    }
    .company-right {
        height: 35vw;
        padding-right: 2vw;
    }

    .contact-left-div .h-2 h2 {
        font-size: 2rem;
    } 
    .my-5 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    .py-5 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    .contact-container {
        height: 40vw !important;
    }


    .contact-left-div {
        padding-left: 2vw;
    }

    .contact-right {
        padding-right: 2vw;
    }
}
