.banner-section {
    background-image: url("../../images/banner.png");
    min-height: 40vh;
    max-height: 20rem;
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.h-1 h1 {
    font-size: 5rem;
    font-weight: bolder;
}

.banner-section > .container {
    min-height: 15vh;
    max-height: 15rem;
    height: 12rem;
}

.search-div {
    margin-top: 1vw;
}
 

/* =========================================================== */

/* Styles for screens with a maximum width of 768 pixels */

@media only screen and (max-width: 768px) {
      

     
}

/* =========================================================== */

/* Styles for screens with a maximum width of 768 pixels */

@media only screen and (max-width: 425px) {
    .banner-section {
        min-height: 40vh;
        max-height: 50rem;
        height: 100%;
    }

    .banner-section > .container {
        min-height: 30vh;
        max-height: 35rem;
        height: 100%;
    }

    .h-1 h1 {
        font-size: 2.5rem;
        font-weight: bolder;
    }

    .banner-div .h-2 h2 {
        font-size: 1.5rem;
        font-weight: 300;
    } 
}

/* ===================================================================================================== */

.saloon-div {
    border: 2px solid #eee;
    border-radius: 1rem;
    margin: 0.2rem 1rem;
    padding: 0.5rem;
    text-decoration: none;
}

.btn-gradient {
    background: linear-gradient(90deg, #ff6100 10%, #f03770 70%);
}

.slides-section {
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.salon-slide-container {
    position: relative;
    height: 450px;
}

.salon-slide-container > .swiper-slide__content {
    position: absolute;
    top: 0;
}

.salon-slide {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms linear;
    transform: scale(0.8);
}

.swiper-slide-active {
    transform: scale(1);
}

.salon-slide__content {
    height: 300px;
}

/* =========================================== */
.saloon-customer-slide {
    border: 1px solid;
    padding: 1rem;
    border-radius: 1.5rem;
}
.review-icons i {
    color: #ff9400;
}

.saloon-customer-div {
    position: relative;
}
.salon-slide-wrapper {
    align-items: center;
}
.saloon-customer-button-prev.swiper-button-prev {
    width: 4rem;
    height: 4rem;
    position: initial;
    background-image: url(../../images/previous.png);
    background-size: cover;
}

.saloon-customer-button-next.swiper-button-next {
    width: 4rem;
    height: 4rem;
    position: initial;
    background-image: url(../../images/next.png);
    background-size: cover;
}

.saloon-customer-button-prev:after,
.saloon-customer-button-next:after {
    content: "";
}

/* ========================= */
.provide-img {
    width: 100%;
}
.provide-img img {
    width: 100%;
    height: 100%;
}

.acritical-links {
    line-height: 3rem;
}

.acritical-links a {
    text-decoration: none;
}

.treatments-link {
    border: 1px solid #eee;
    border-radius: 1rem;
    margin: 0.2rem 1rem;
    padding: 0.5rem;
    text-decoration: none;
    color: #2a2d32;
    display: inline-grid;
}
